
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	{% load staticfiles %}	 
	<link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet">
	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
	<link href="{% static "images/main_icon.ico" %}" rel="icon">
	<link href="{% static "css/index.css" %}" rel="stylesheet">

	<title>Oncall</title>
</head>

<body>
	<div class="container">

		<div class="row">
            <div class="col-md-4">
	                <a href="{{urls.logout}}" class="thumbnail">

	                    <img src="{% static "images/logout_thumbnail.png" %}">
	                </a>
                <center><h4 class="thumbnail-title">Logout</h4>
            </div>

            <div class="col-md-4">
                <a href="{{urls.oncall_request}}" class="thumbnail">
                    <img src="{% static "images/request_thumbnail.png" %}">
                </a>
                <center><h4 class="thumbnail-title">Make a Request</h4>
            </div>

            <div class="col-md-4">
                <a href="http://groodle.greenwoodcollege.com" class="thumbnail">
                    <img src="{% static "images/website_thumbnail.png" %}">
                </a>
                <center><h4 class="thumbnail-title">Groodle</h4>
            </div>
        </div>
</body>

